body {background-color: #292c2f;}
.column1 {
  float: left;
  width: 20%;
  height:3500px;
}
.column2 {
  float: left;
  width: 60%;
  height:100%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  display: inline;
  position: relative;
  font: 100px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color:#66FCF1 ; 

}
.bg-map{
	width:50%; 
	height:30%;
  margin: 0 30px 0 0;
}
.post-container{
    margin: 20px 20px 0 0;  
}

.post-thumb img {
    float: left;
}

.post-content {
    margin-left: 10px;
}
.container-towns {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 600px) {
  .column1,.column2 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}